.Home,
.About,
.Contact,
.Product,
.Notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 90vh;
  background: linear-gradient(to right, rgb(0, 255, 229), rgb(0, 255, 128));
  color: aliceblue;
}
